In [1]:
# importing pandas library
import pandas as pd

In [172]:
# loading the dataset to be analyzed
df = pd.read_excel('https://github.com/SDSahu16/Car_Sales_Analysis/raw/refs/heads/main/Car_Sales_Data.xlsx')

#printing (showing) the data after it has been loaded
print(df)

             Car_id       Date Customer Name  Gender  Annual Income  \
0      C_CND_000001 2022-01-02     Geraldine    Male          13500
1      C_CND_000002 2022-01-02           Gia    Male        1480000
2      C_CND_000003 2022-01-02        Gianna    Male        1035000
3      C_CND_000004 2022-01-02       Giselle    Male          13500
4      C_CND_000005 2022-01-02         Grace    Male        1465000
...             ...        ...           ...     ...            ...
23901  C_CND_023902 2023-12-31        Martin    Male          13500
23902  C_CND_023903 2023-12-31         Jimmy  Female         900000
23903  C_CND_023904 2023-12-31          Emma    Male         705000
23904  C_CND_023905 2023-12-31      Victoire    Male          13500
23905  C_CND_023906 2023-12-31       Donovan    Male        1225000

                               Dealer_Name    Company       Model  \
0      Buddy Storbeck's Diesel Service Inc       Ford  Expedition
1                         C & M Motors Inc      Dodge     Durango
2                              Capitol KIA   Cadillac    Eldorado
3                   Chrysler of Tri-Cities     Toyota      Celica
4                        Chrysler Plymouth      Acura          TL
...                                    ...        ...         ...
23901                     C & M Motors Inc   Plymouth     Voyager
23902       Ryder Truck Rental and Leasing  Chevrolet       Prizm
23903               Chrysler of Tri-Cities        BMW        328i
23904                    Chrysler Plymouth  Chevrolet       Metro
23905                      Pars Auto Sales      Lexus       ES300

                            Engine Transmission       Color  Price ($)  \
0      DoubleÃ‚Â Overhead Camshaft         Auto       Black      26000
1      DoubleÃ‚Â Overhead Camshaft         Auto       Black      19000
2                Overhead Camshaft       Manual         Red      31500
3                Overhead Camshaft       Manual  Pale White      14000
4      DoubleÃ‚Â Overhead Camshaft         Auto         Red      24500
...                            ...          ...         ...        ...
23901            Overhead Camshaft       Manual         Red      12000
23902  DoubleÃ‚Â Overhead Camshaft         Auto       Black      16000
23903            Overhead Camshaft       Manual         Red      21000
23904  DoubleÃ‚Â Overhead Camshaft         Auto       Black      31000
23905  DoubleÃ‚Â Overhead Camshaft         Auto  Pale White      27500

       Dealer_No  Body Style    Phone Dealer_Region
0      06457-3834        SUV  8264678    Middletown
1      60504-7114        SUV  6848189        Aurora
2      38701-8047  Passenger  7298798    Greenville
3      99301-3882        SUV  6257557         Pasco
4      53546-9427  Hatchback  7081483    Janesville
...           ...        ...      ...           ...
23901  60504-7114  Passenger  8583598         Pasco
23902  06457-3834    Hardtop  7914229    Middletown
23903  99301-3882      Sedan  7659127    Scottsdale
23904  53546-9427  Passenger  6030764        Austin
23905  38701-8047    Hardtop  7020564    Middletown

[23906 rows x 16 columns]

In [174]:
# Describing the data set to show the columns present in it
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         23906 non-null  object
 1   Date           23906 non-null  datetime64[ns]
 2   Customer Name  23905 non-null  object
 3   Gender         23906 non-null  object
 4   Annual Income  23906 non-null  int64
 5   Dealer_Name    23906 non-null  object
 6   Company        23906 non-null  object
 7   Model          23906 non-null  object
 8   Engine         23906 non-null  object
 9   Transmission   23906 non-null  object
 10  Color          23906 non-null  object
 11  Price ($)      23906 non-null  int64
 12  Dealer_No      23906 non-null  object
 13  Body Style     23906 non-null  object
 14  Phone          23906 non-null  int64
 15  Dealer_Region  23906 non-null  object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 2.9+ MB

In [167]:
# showing the shape of the dataset
print("Shape of the dataset: ", df.shape)

Shape of the dataset:  (23906, 17)

In [165]:
#showing the total number of rows and columns present in the dataset separately
print("Total no. of rows: ", df.shape[0])
print("Total no. of columns: ", df.shape[1])

Total no. of rows:  23906
Total no. of columns:  17

In [163]:
# Showing top - 20 records
print("Top 10 records: ")
df.head(10)

Top 10 records:

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Years
0,C_CND_000001,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,2022
1,C_CND_000002,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,2022
2,C_CND_000003,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,2022
3,C_CND_000004,2022-01-02,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,2022
4,C_CND_000005,2022-01-02,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÃ‚Â Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,2022
5,C_CND_000006,2022-01-02,Guadalupe,Male,850000,Classic Chevy,Mitsubishi,Diamante,Overhead Camshaft,Manual,Pale White,12000,85257-3102,Hatchback,7315216,Scottsdale,2022
6,C_CND_000007,2022-01-02,Hailey,Male,1600000,Clay Johnson Auto Sales,Toyota,Corolla,Overhead Camshaft,Manual,Pale White,14000,78758-7841,Passenger,7727879,Austin,2022
7,C_CND_000008,2022-01-02,Graham,Male,13500,U-Haul CO,Mitsubishi,Galant,DoubleÃ‚Â Overhead Camshaft,Auto,Pale White,42000,78758-7841,Passenger,6206512,Austin,2022
8,C_CND_000009,2022-01-02,Naomi,Male,815000,Rabun Used Car Sales,Chevrolet,Malibu,Overhead Camshaft,Manual,Pale White,82000,85257-3102,Hardtop,7194857,Pasco,2022
9,C_CND_000010,2022-01-02,Grayson,Female,13500,Rabun Used Car Sales,Ford,Escort,DoubleÃ‚Â Overhead Camshaft,Auto,Pale White,15000,85257-3102,Passenger,7836892,Scottsdale,2022

In [159]:
# showing the bottom - 10 records
print("The bottom 10 records are:")
df.tail(10)

The bottom 10 records are:

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Years
23896,C_CND_023897,2023-12-31,Simi,Male,761000,Rabun Used Car Sales,Dodge,Viper,DoubleÃ‚Â Overhead Camshaft,Auto,Red,41000,85257-3102,SUV,8744249,Aurora,2023
23897,C_CND_023898,2023-12-31,Simone,Male,520000,Progressive Shippers Cooperative Association No,Mercedes-B,E-Class,DoubleÃ‚Â Overhead Camshaft,Auto,Red,15000,53546-9427,Sedan,6819422,Greenville,2023
23898,C_CND_023899,2023-12-31,Skylar,Male,530000,Rabun Used Car Sales,Volvo,C70,Overhead Camshaft,Manual,Pale White,24000,85257-3102,Hatchback,6225183,Pasco,2023
23899,C_CND_023900,2023-12-31,Yuna,Male,13500,U-Haul CO,Buick,Park Avenue,DoubleÃ‚Â Overhead Camshaft,Auto,Pale White,62000,78758-7841,Hatchback,8384785,Aurora,2023
23900,C_CND_023901,2023-12-31,Nathan,Female,771000,Buddy Storbeck's Diesel Service Inc,Ford,Contour,DoubleÃ‚Â Overhead Camshaft,Auto,Red,19000,06457-3834,Sedan,8170003,Greenville,2023
23901,C_CND_023902,2023-12-31,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco,2023
23902,C_CND_023903,2023-12-31,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÃ‚Â Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown,2023
23903,C_CND_023904,2023-12-31,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale,2023
23904,C_CND_023905,2023-12-31,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÃ‚Â Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin,2023
23905,C_CND_023906,2023-12-31,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÃ‚Â Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown,2023

In [157]:
# showing the Companies of cars from the top 10 records
print("Companies from Top-10 records:")
df['Company'].head(10)

Companies from Top-10 records:

0          Ford
1         Dodge
2      Cadillac
3        Toyota
4         Acura
5    Mitsubishi
6        Toyota
7    Mitsubishi
8     Chevrolet
9          Ford
Name: Company, dtype: object

In [155]:
#Showing 10 sample records

df.sample(10)

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Years
22051,C_CND_022052,2023-12-01,Eloise,Male,810000,Rabun Used Car Sales,Chrysler,Town & Country,DoubleÃ‚Â Overhead Camshaft,Auto,Pale White,42000,85257-3102,Sedan,8819652,Scottsdale,2023
21425,C_CND_021426,2023-11-21,Niels,Male,740000,Star Enterprises Inc,Ford,Crown Victoria,Overhead Camshaft,Manual,Pale White,20001,99301-3882,Passenger,8958899,Pasco,2023
17899,C_CND_017900,2023-09-06,Zelda,Female,482500,C & M Motors Inc,Mercury,Sable,DoubleÃ‚Â Overhead Camshaft,Auto,Red,39500,60504-7114,Sedan,8298084,Aurora,2023
8068,C_CND_008069,2022-11-13,Luna,Male,13500,Rabun Used Car Sales,Chevrolet,Impala,Overhead Camshaft,Manual,Pale White,14000,85257-3102,Hatchback,6868086,Pasco,2022
6045,C_CND_006046,2022-09-21,Hunter,Female,1050000,McKinney Dodge Chrysler Jeep,Volvo,S40,Overhead Camshaft,Manual,Black,36001,85257-3102,Sedan,7749567,Scottsdale,2022
13458,C_CND_013459,2023-05-07,Anthony,Female,1370000,Ryder Truck Rental and Leasing,Pontiac,Bonneville,DoubleÃ‚Â Overhead Camshaft,Auto,Red,19001,06457-3834,Hatchback,7088095,Middletown,2023
6954,C_CND_006955,2022-10-15,Shirine,Male,815100,Suburban Ford,Infiniti,I30,Overhead Camshaft,Manual,Pale White,22101,53546-9427,Hardtop,7103653,Janesville,2022
23475,C_CND_023476,2023-12-24,Cedric,Male,850000,Hatfield Volkswagen,Mercedes-B,CL500,Overhead Camshaft,Manual,Red,29000,99301-3882,SUV,7914612,Greenville,2023
2569,C_CND_002570,2022-05-22,Amanda,Male,3225000,Gartner Buick Hyundai Saab,Pontiac,Sunfire,DoubleÃ‚Â Overhead Camshaft,Auto,Black,18501,38701-8047,Sedan,7648049,Greenville,2022
10154,C_CND_010155,2022-12-20,Zane,Male,13500,Race Car Help,Audi,A6,Overhead Camshaft,Manual,Pale White,13000,78758-7841,SUV,7836827,Greenville,2022

In [153]:
#Statistical analysis of the dataframes
# for the columns with numeric values

df.describe()

,Date,Annual Income,Price ($),Phone,Years
count,23906,2.390600e+04,23906.000000,2.390600e+04,23906.000000
mean,2023-03-01 14:28:10.822387456,8.308403e+05,28090.247846,7.497741e+06,2022.554714
min,2022-01-02 00:00:00,1.008000e+04,1200.000000,6.000101e+06,2022.000000
25%,2022-09-20 00:00:00,3.860000e+05,18001.000000,6.746495e+06,2022.000000
50%,2023-03-13 00:00:00,7.350000e+05,23000.000000,7.496198e+06,2023.000000
75%,2023-09-08 00:00:00,1.175750e+06,34000.000000,8.248146e+06,2023.000000
max,2023-12-31 00:00:00,1.120000e+07,85800.000000,8.999579e+06,2023.000000
std,NaN,7.200064e+05,14788.687608,8.674920e+05,0.497008

In [151]:
#Statistical analysis of the dataframes
# for the columns with non - numeric values

df.describe(include = object)

,Car_id,Customer Name,Gender,Dealer_Name,Company,Model,Engine,Transmission,Color,Dealer_No,Body Style,Dealer_Region
count,23906,23905,23906,23906,23906,23906,23906,23906,23906,23906,23906,23906
unique,23906,3021,2,28,30,154,2,2,3,7,5,7
top,C_CND_000001,Thomas,Male,Progressive Shippers Cooperative Association No,Chevrolet,Diamante,DoubleÃ‚Â Overhead Camshaft,Auto,Pale White,85257-3102,SUV,Austin
freq,1,92,18798,1318,1819,418,12571,12571,11256,3814,6374,4135

In [149]:
# showing duplicate records, if present in the dataset

duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Car_id, Date, Customer Name, Gender, Annual Income, Dealer_Name, Company, Model, Engine, Transmission, Color, Price ($), Dealer_No , Body Style, Phone, Dealer_Region, Years]
Index: []

So, from the above findings it is shown that the dataset does not contain any duplicate record.

In [147]:
#checking for null-values in the dataset

df.isnull()
null_values = df.isnull().sum()
print("Rows with Null Value :\n-----------------------\n",null_values)

Rows with Null Value :
-----------------------
 Car_id           0
Date             0
Customer Name    1
Gender           0
Annual Income    0
Dealer_Name      0
Company          0
Model            0
Engine           0
Transmission     0
Color            0
Price ($)        0
Dealer_No        0
Body Style       0
Phone            0
Dealer_Region    0
Years            0
dtype: int64

So, only 1 row in the column "Customer Name" has a null value.

In [145]:
# checking the record with null value

rows_with_null = df[df.isnull().any(axis=1)]
print(rows_with_null)

            Car_id       Date Customer Name Gender  Annual Income  \
7564  C_CND_007565 2022-11-05           NaN   Male         680000

           Dealer_Name Company       Model                       Engine  \
7564  Saab-Belle Dodge   Dodge  Ram Pickup  DoubleÃ‚Â Overhead Camshaft

     Transmission       Color  Price ($)  Dealer_No  Body Style    Phone  \
7564         Auto  Pale White      45000  60504-7114    Hardtop  7203103

     Dealer_Region  Years
7564        Aurora   2022

There is no need to update that single cell with null value in the 'Name' column, as it wont effect the anaysis.

In [43]:
#To find the distinct Car_COmpanies in the dataset

car_companies = df["Company"].unique()
print("Car Companies:\n", car_companies)

Car Companies:
 ['Ford' 'Dodge' 'Cadillac' 'Toyota' 'Acura' 'Mitsubishi' 'Chevrolet'
 'Nissan' 'Mercury' 'BMW' 'Chrysler' 'Subaru' 'Hyundai' 'Honda' 'Infiniti'
 'Audi' 'Porsche' 'Volkswagen' 'Buick' 'Saturn' 'Mercedes-B' 'Jaguar'
 'Volvo' 'Pontiac' 'Lincoln' 'Oldsmobile' 'Lexus' 'Plymouth' 'Saab' 'Jeep']

In [178]:
# Years
df['Years'] = df['Date'].dt.year
print("The  dataset has data from the years:")
print(df['Years'].unique())

The  dataset has data from the years:
[2022 2023]

In [194]:
#To find total sales for each year

total_sales = df.groupby('Years').agg(Total_Sales = ('Price ($)', 'sum')).reset_index()
print(total_sales)

   Years  Total_Sales
0   2022    300340345
1   2023    371185120

In [206]:
#to show the difference in sales and percentage increment each year

sales_data = pd.DataFrame(total_sales)
sales_data['sales_increment'] = sales_data['Total_Sales'].diff()
sales_data['Sales_%_Increment'] = sales_data['Total_Sales'].pct_change()*100
print(sales_data)

   Years  Total_Sales  sales_increment  Sales_%_Increment
0   2022    300340345              NaN                NaN
1   2023    371185120       70844775.0          23.588165